@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins';
}

:root {
  --white: #ffffff;
  --lighter-gray: #f3f3f3;
  --light-gray: #e1e1e1;
  --dark-gray: #707070;
  --primary-blue: #1b498e;
  --secondary-blue: #0075b4;
  --black: #000000;
  --red: #e60000;
}
